<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="monitoringApplications" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <!-- time this app monitor at once -->
    <!-- this value must be in range of 00:00 - 24:00 -->
    <add key="MonitoringTimehhmm" value="14:13"/>
    <add key="EventId" value="1000"/>
    <add key="EventCategory" value="100"/>
    <add key="DoUseWindowsNotifyAndRestartProcess" value="false"/>
  </appSettings>
  <monitoringApplications>
    <!-- key= Monitoring Application Name / value=AllowedPagingMemorySize(MB) -->
    <add key="explorer.exe" value="10000"/>
    <add key="notepad.exe" value="1"/>
  </monitoringApplications>
  <log4net>
    <appender name="MemoryMonitoringLogger" type="log4net.Appender.RollingFileAppender">
      <param name="RollingStyle" value="Size"/>
      <param name="File" value="..\\log\Ntv.Weather.MemoryMonitoringApplication.log"/>
      <param name="AppendToFile" value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="MaxSizeRollBackups" value="5"/>
      <param name="MaximumFileSize" value="20MB"/>
      <staticLogFileName value="false"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <!--出力文字列のフォーマット-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy/mm/dd HH:mm:ss.ffff} [%thread] [%-5level] - %message%n"/>
      </layout>
    </appender>
    <logger name="MemoryMonitoringApplicationLogger">
      <level value="ALL"/>
      <appender-ref ref="MemoryMonitoringLogger"/>
    </logger>
  </log4net>
</configuration>
